.container{
    display: grid;
    background-color: darksalmon;
    /* si la ultima es 60, las dos primeras se van a repartir el porcentaje restante */
    grid-template-columns: auto auto 60%;
    /* las que no tengan especificado el alto del row, van a ocupar lo minimo de  */
    grid-template-rows: 200px;
    /* si le ponen el justify content,los auto van a ocupar el minimo espacio necesario */
    justify-content: space-between;
    /* para que el align content nos funcione,tenemos que tener un height definido */
    height: 60vh;
    align-content:space-around;
}

.child{
    background-color: darkorchid;
    border: darkviolet 2px solid;
}