p::first-letter{
    font-size: 3em;
}

p::first-line{
    color: blueviolet;
}

/* agrega algo ANTES del elemento */
.footer::before{
    content: '&';
}

ul li{
    display: inline;
}

/* agrega algo DESPUES del elemento */
li::after {
    content: '>';
}

/* no afecta al ultimo hijo, sino solo a los demas */
li:last-child::after{
    content: ' ';
}
ul li:hover{
    background-color: cadetblue;
}
ul li:focus-visible{
    background-color: cadetblue;
    border: 2px rgb(50, 50, 212) solid;
}